In [2]:
#Imports
import pandas as pd
from scipy.stats import linregress
import matplotlib.pyplot as plt
import numpy as np

In [8]:
#Locate in CSVs
censusDataRead = "../ETL/ETL-Results/census_data.csv"
mortDataRead = "../ETL/ETL-Results/four_mort_measures.csv"

In [9]:
#Read CSVs
censusData = pd.read_csv(censusDataRead, sep=",")
mortData = pd.read_csv(mortDataRead, sep=",")

In [10]:
#View census data
censusData.head()

,County Name,State,State Abbr,Household Median Income,Family's Median Income,Total Population,Percent Poverty,Percent Veteran,Percent Married,Percent Bachelor,Percent One Race White,Percent One Race Black+,Percent One Race American Indian+,Percent One Race Asian,Percent One Race Hawaiian+,Percent One Race Some Other,Percent Two Race Or More,State Code,County Code
0,FAYETTE,Illinois,IL,46650,57836,21565,17.2,8.0,49.5,11.3,93.9,4.7,0.3,0.5,0.1,0.1,0.4,17,51
1,LOGAN,Illinois,IL,57308,74457,29003,9.3,8.1,48.8,19.9,88.5,6.9,0.3,0.8,0.0,0.8,2.8,17,107
2,SALINE,Illinois,IL,44090,54492,23994,21.1,8.6,51.1,19.2,92.7,2.6,0.2,0.7,0.2,0.5,3.0,17,165
3,LAKE,Illinois,IL,89427,108478,701473,7.9,5.8,54.7,45.3,75.8,6.8,0.3,7.7,0.0,6.5,2.9,17,97
4,MASSAC,Illinois,IL,47481,61028,14219,16.7,9.3,56.6,13.9,91.1,5.8,0.0,0.2,0.0,0.0,2.8,17,127

In [16]:
#Drop race for Erica
censusDataDrop = censusData.drop(columns=['Percent One Race White', 'Percent One Race Black+', 'Percent One Race American Indian+', 'Percent One Race Asian', 'Percent One Race Hawaiian+', 'Percent One Race Some Other', 'Percent Two Race Or More'])
demoDataGen = censusDataDrop
demoDataGen.head()

,County Name,State,State Abbr,Household Median Income,Family's Median Income,Total Population,Percent Poverty,Percent Veteran,Percent Married,Percent Bachelor,State Code,County Code
0,FAYETTE,Illinois,IL,46650,57836,21565,17.2,8.0,49.5,11.3,17,51
1,LOGAN,Illinois,IL,57308,74457,29003,9.3,8.1,48.8,19.9,17,107
2,SALINE,Illinois,IL,44090,54492,23994,21.1,8.6,51.1,19.2,17,165
3,LAKE,Illinois,IL,89427,108478,701473,7.9,5.8,54.7,45.3,17,97
4,MASSAC,Illinois,IL,47481,61028,14219,16.7,9.3,56.6,13.9,17,127

In [17]:
# Combine the data into a single dataset
genDataComplete = pd.merge(mortData, demoDataGen, how = "inner", right_on = ["State Abbr", "County Name"],
                        left_on = ["State", "County Name"])
#View DF
genDataComplete.head()

,Facility ID,Facility Name,Address,City,State_x,ZIP Code,County Name,Measure ID,Measure Name,Denominator,...,State Abbr,Household Median Income,Family's Median Income,Total Population,Percent Poverty,Percent Veteran,Percent Married,Percent Bachelor,State Code,County Code
0,50704,MISSION COMMUNITY HOSPITAL,14850 ROSCOE BLVD,PANORAMA CITY,CA,91402,LOS ANGELES,MORT_30_COPD,Death rate for COPD patients,207,...,CA,68044,76673,10081570,14.9,3.3,42.9,32.5,6,37
1,50625,CEDARS-SINAI MEDICAL CENTER,8700 BEVERLY BLVD,LOS ANGELES,CA,90048,LOS ANGELES,MORT_30_COPD,Death rate for COPD patients,504,...,CA,68044,76673,10081570,14.9,3.3,42.9,32.5,6,37
2,50739,CENTINELA HOSPITAL MEDICAL CENTER,555 EAST HARDY STREET,INGLEWOOD,CA,90301,LOS ANGELES,MORT_30_HF,Death rate for heart failure patients,568,...,CA,68044,76673,10081570,14.9,3.3,42.9,32.5,6,37
3,50763,"L A DOWNTOWN MEDICAL CENTER, LLC",1711 WEST TEMPLE STREET,LOS ANGELES,CA,90026,LOS ANGELES,MORT_30_COPD,Death rate for COPD patients,166,...,CA,68044,76673,10081570,14.9,3.3,42.9,32.5,6,37
4,50096,"WEST COVINA MEDICAL CENTER, INC",725 S ORANGE AVE,WEST COVINA,CA,91790,LOS ANGELES,MORT_30_COPD,Death rate for COPD patients,146,...,CA,68044,76673,10081570,14.9,3.3,42.9,32.5,6,37

In [ ]:
# Plot a scatter and regression of annual river depth and salmon counts to see if any correlation

slope, intercept, rvalue, pvalue, stderr = linregress(genDataComplete["Total Population"], 
                                                      )
regress_values = merged_willamette_salmon_temp_df["temp_f"] * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
print(f"The r-value is: {rvalue}")
print(f"The r2-value is: {rvalue**2}")
print(f"The p-value is: {pvalue}")

fig, ax = plt.subplots()
ax.set_xlabel("Temperature F")
ax.set_ylabel("Chinook Count")
ax.set_title("Willamette Falls Spring Chinook Count vs Temperature F (2009-2020)")
ax.annotate(line_eq, (50,30000), fontsize=15, color="red")
ax.plot(merged_willamette_salmon_temp_df["temp_f"], regress_values, "r-")
ax.scatter(merged_willamette_salmon_temp_df["temp_f"],merged_willamette_salmon_temp_df["Chinook"])
plt.savefig(annual_image_path + "will_annual_scatter_temp.png")
plt.show()